body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BEB5A9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#moviesContainer, #movieDetails {
    margin-top: 20px;
}

.movie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #6E473B;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #9e473bc1;
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.movie-details {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 800px;
}

.movie-details img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0; 
}

.movie-details-content {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    flex: 1; 
    overflow-wrap: break-word; 
}

.movie-details-content h3 {
    margin: 0 0 10px;
    font-size: 24px;
}

.movie-details-content p {
    margin: 0;
    font-size: 16px;
    color: #333;
}